@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 39% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 210 28% 98%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --gantt-bg-color: hsl(var(--card)) !important;
    --gantt-popup-bg-color: hsl(var(--popover)) !important;
    --gantt-bar-color: hsl(var(--background)) !important;
    --gantt-bar-color-important: hsl(var(--accent)) !important;
    --gantt-bar-stroke: hsl(var(--border)) !important;
    --gantt-dark-stroke-color: hsl(var(--border)) !important;
    --gantt-stroke-color: hsl(var(--border)) !important;
    --gantt-light-bg: hsl(var(--background)) !important;
    --gantt-light-border-color: hsl(var(--border)) !important;
    --gantt-holiday-color: hsl(var(--card)) !important;
    --gantt-text-muted: hsl(var(--muted-foreground)) !important;
    --gantt-text-grey: hsl(var(--muted-foreground)) !important;
    --gantt-text-light: hsl(var(--primary-foreground)) !important;
    --gantt-text-dark: hsl(var(--foreground)) !important;
    --gantt-progress: hsl(var(--border)) !important;
    --gantt-handle-color: hsl(var(--muted)) !important;
    --gantt-handle-color-important: hsl(var(--accent)) !important;
    --gantt-accent-light: hsl(var(--accent)) !important;
    --gantt-accent-mid: hsl(var(--primary)) !important;
    --gantt-accent-dark: hsl(var(--primary)) !important;
    --gantt-today-bg-color: hsl(var(--card)) !important;
    --gantt-today-text-color: hsl(var(--foreground)) !important;

    --gantt-bar-color-hover: hsl(var(--background)) !important;
    --gantt-accent-light-hover: hsl(var(--accent)) !important;
  }

  .dark {
    --background: 221 39% 11%;
    --foreground: 0 0% 90%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 221 33% 14%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --warning: 48 96% 89%;
    --warning-foreground: 221 39% 11%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }

  .dark .gantt-dark {
    --gantt-bg-color: hsl(var(--background));
    --gantt-popup-bg-color: hsl(var(--popover));
    --gantt-bar-color: hsl(var(--card));
    --gantt-bar-color-important: hsl(var(--accent-foreground));
    --gantt-bar-stroke: hsl(var(--border));
    --gantt-dark-stroke-color: hsl(var(--border));
    --gantt-stroke-color: hsl(var(--border));
    --gantt-light-bg: hsl(var(--card));
    --gantt-light-border-color: hsl(var(--border));
    --gantt-text-muted: hsl(var(--muted-foreground));
    --gantt-text-light: hsl(var(--card-foreground));
    --gantt-text-dark: hsl(var(--foreground));
    --gantt-accent-light: hsl(var(--muted-foreground));
    --gantt-accent-mid: hsl(var(--primary-foreground));
    --gantt-accent-dark: hsl(var(--primary-foreground));
    --gantt-today-bg-color: hsl(var(--card));
    --gantt-today-text-color: hsl(var(--card-foreground));

    --gantt-bar-color-dark-hover: hsl(var(--card));
    --gantt-accent-light-dark-hover: hsl(var(--muted-foreground));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  [data-gatsby-image-wrapper] img {
    transition-duration: 125ms !important;
    transition-timing-function: linear !important;
  }
}

@layer utilities {
  html {
    ::-webkit-scrollbar {
      @apply w-1.5;
      @apply h-1.5;
      @apply bg-muted;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-muted;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-muted-foreground;
      @apply rounded-full;
    }

    ::-moz-scrollbar {
      @apply w-1.5;
      @apply h-1.5;
      @apply bg-muted;
    }

    ::-moz-scrollbar-thumb {
      @apply bg-muted-foreground;
      @apply rounded-full;
    }

    ::-ms-scrollbar {
      @apply w-1.5;
      @apply h-1.5;
      @apply bg-muted;
    }

    ::-ms-scrollbar-thumb {
      @apply bg-muted-foreground;
      @apply rounded-full;
    }

    ::scrollbar {
      @apply w-1.5;
      @apply h-1.5;
      @apply bg-muted;
    }

    ::scrollbar-thumb {
      @apply bg-muted-foreground;
      @apply rounded-full;
    }
  }
}
